{
  // eslint-config-next includes:
  // extends:
  // ['plugin:react/recommended', 'plugin:react-hooks/recommended', 'plugin:@next/next/recommended', ]
  // plugins: ['import', 'react', 'jsx-a11y']

  // eslint-config-prettier Turns off all rules that are unnecessary or might conflict with Prettier.
  // NOTE: when searching for both Prettier and your linter on the Internet you’ll probably find more
  // related projects. These are generally not recommended, but can be useful in certain circumstances.
  // @link https://prettier.io/docs/en/integrating-with-linters.html

  "extends": ["next", "next/core-web-vitals", "prettier"]
}
